@import url("../global/base.css");

#navbar-main {
  position: sticky;
  top: 0;
  z-index: 50;

  #nav-search-bar-form {
    #nav-search-label-id {
      color: var(--color-text) !important;

      + .nav-icon {
        display: inline-block !important;
        width: 8px !important;
        height: 8px !important;
        border: 1px solid transparent !important;
        border-right-color: var(--color-text) !important;
        border-bottom-color: var(--color-text) !important;
        transform: rotate(45deg);
        margin-top: -4px;
      }
    }

    #nav-search-submit-button {
      background: transparent !important;
    }

    #nav-search-submit-text {
      filter: invert(1);
    }
  }
}

#pageContent {
  background: none !important;
}

#desktop-banner,
#cbcc_banner {
  display: none;
}

img {
  mix-blend-mode: normal !important;
}

.a-color-alternate-background {
  background: transparent !important;
}

.a-color-base,
.ya-card__heading--rich,
[class*="badgeDskText"] {
  color: var(--color-text) !important;
}

.a-color-secondary,
.a-color-tertiary {
  color: var(--color-text-alt) !important;
}

.a-color-link {
  background: none !important;
  color: var(--color-primary) !important;
}

.a-cardui,
.checkout-card-color {
  background: var(--transparent-background) !important;
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--border-radius);
}

.a-profile-name {
  color: var(--color-text) !important;
}

.a-box.a-color-alternate-background,
.a-box.a-color-offset-background {
  background: var(--transparent-background-dark) !important;
}

.a-box .a-divider.a-divider-section .a-divider-inner,
.a-color-base-background .a-divider.a-divider-section .a-divider-inner,
.a-divider.a-divider-section .a-divider-inner,
hr.bucketDivider {
  &::after {
    background: none !important;
  }
}

.a-ordered-list,
.a-unordered-list,
ol,
ul {
  .a-list-item {
    color: var(--color-text-alt) !important;
  }
}

.displayAddressUL {
  li {
    color: var(--color-text-alt) !important;
  }
}

#AUI_A9AdsMiddleBoxTop,
#CustomerDiscussions,
#customer-discussions_feature_div,
#customer-reviews_feature_div,
#hmdFormDiv,
#pf-fitment-wrapper,
#revMHLContainer,
#sponsored-products-dp_feature_div,
.bucket,
.pa_componentTitleTest {
  h2 {
    color: var(--color-text) !important;
  }
}

.a-icon-small-trash,
.a-icon-small-add,
.a-icon-popover,
.a-icon-previous,
.a-icon-next,
.a-icon-dropdown,
.a-icon-search,
.buy-it-again-button__icon,
.reorder-modal-trigger-icon,
.awl-ul-share-icon,
.awl-ul-item-grab,
.overflow-menu-center-dot,
.lists-desktop-rio-icons > img,
.ewc-delete-icon {
  filter: invert(1);
}

.a-button {
  font-weight: 500;
  border: 2px solid transparent !important;
  border-radius: var(--border-radius) !important;

  &.a-button-primary {
    border-color: var(--color-primary) !important;

    * {
      color: var(--color-text) !important;
    }
  }

  &.a-button-toggle {
    background: var(--transparent-background-darker) !important;
    color: var(--color-primary) !important;

    * {
      color: var(--color-primary) !important;
    }

    &:hover {
      border-color: var(--color-primary) !important;
    }
  }

  &.a-button-base {
    border-color: var(--color-text) !important;

    * {
      color: var(--color-text) !important;
    }
  }

  &.a-button-oneclick {
    border-color: var(--color-tertiary) !important;

    * {
      color: var(--color-text) !important;
    }
  }

  .a-button-inner {
    background: transparent !important;
  }
}

#add-to-wishlist-button-group {
  border: 2px solid var(--color-text) !important;
  border-radius: var(--border-radius) !important;

  .a-button-base {
    border-radius: 0 !important;
    border: 0 !important;
  }
}

.nav-flyout {
  background: var(--color-bg) !important;

  .nav-title,
  .nav-text {
    color: var(--color-text) !important;
  }
}

.nav-flyout-sidePanel-content {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);

  .a-button-text {
    background: var(--color-primary) !important;
    color: var(--color-black) !important;
  }
}

.a-popover {
  .a-popover-inner {
    background: var(--color-bg) !important;
    backdrop-filter: var(--backdrop-blur);

    .a-list-item:hover {
      .a-dropdown-link {
        background: rgb(from var(--color-primary) r g b / 0.5) !important;
      }
    }
  }
}

.order-card {
  background: var(--transparent-background) !important;

  .order-header {
    background: var(--transparent-background) !important;
  }
}

.feed-carousel .feed-carousel-control {
  background: var(--transparent-background-dark) !important;
  box-shadow: none !important;
}

.sc-background-dark {
  background: transparent !important;
}

#similarities-product-bundle-widget-title {
  color: var(--color-text) !important;
}

#twotabsearchtextbox {
  color: var(--color-text) !important;
}

#sp-cc {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
}
