@import url("../global/base.css");

#hp_app {
  .hp_body {
    .hp_top_cover {
      display: none !important;
    }

    .hp_media_container {
      #img_cont {
        display: none !important;
      }
    }

    .hp_cont {
      header {
        background: var(--transparent-background) !important;
        backdrop-filter: var(--backdrop-blur);
      }

      #sb_form {
        background: var(--transparent-background-dark) !important;
        backdrop-filter: var(--backdrop-blur);

        input,
        textarea {
          color: var(--color-text) !important;
        }

        .tooltip {
          background: none !important;
          backdrop-filter: none !important;
        }
      }
    }

    .bottom_row {
      #vs_cont {
        .vs {
          .modules_wrapper {
            .moduleCont {
              background: var(--transparent-background) !important;

              .module {
                background: none !important;
              }
            }
          }
        }
      }
    }
  }
}

#id_hbfo,
#sb_sbipane,
#id_d,
#rewid-f,
[data-sbtip]::after,
[data-sbtipx]::after {
  background: var(--color-bg) !important;
  box-shadow: none !important;
}

.sa_as {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);

  #sa_ul {
    background: var(--transparent-background-darker) !important;
  }
}

.richrswrapper {
  background: var(--transparent-background-dark) !important;
  box-shadow: none !important;
}

.b_icon.tooltip,
header .tooltip {
  background: none !important;
  backdrop-filter: none !important;
}

/* BEGIN: Styles from u/RitwikSHS10 */
.b_dark,
.b_dark .b_fpage,
.b_dark #b_content,
.b_dark #b_content #b_topw .b_ans .b_dict .dc_leftDef,
.b_dark #b_content #b_topw .b_ans .b_dict .dc_rightContent,
.b_drk #b_content #b_topw .b_ans .b_dict .dc_leftDef,
.b_drk #b_content #b_topw .b_ans .b_dict .dc_rightContent,
.b_dark .richrswrapper {
  background: transparent;
}
.b_dark {
  --htmlbk: var(--transparent-background);
  --canvasbk2: var(--transparent-background);
  --canvasbkf7: var(--transparent-background);
}

.b_dark #b_results li.b_ans.b_mop.b_mopb,
.b_dark #b_results li.b_ans.b_nonfirsttopb,
.b_ans {
  background: var(--transparent-background) !important;
}
.b_dark .b_slidebar .slide,
.b_vPanel {
  background-color: var(--transparent-background) !important;
}
.b_wpTabsWrapper,
.b_dark #b_content #b_pole .ent-dtab-content,
.b_dark #b_content #b_pole .ent-dtab-content > div:first-child {
  background-color: var(--transparent-background);
}
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_1,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_2,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_3,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_4,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_5,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_6,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_7,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_8,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_9,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_10,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_11,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_12,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_13,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_14,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_15,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_16,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_17,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_18,
.b_dark #b_results .b_algoBigWiki.b_wiki_bg_color_kc {
  background: var(--transparent-background);
}
header,
.b_dark #b_results #brsv3 .b_vList li a {
  background: var(--transparent-background-dark) !important;
}
#adstop_gradiant_separator {
  display: none;
}
#b_results #brsv3 {
  width: 100% !important;

  .b_vList {
    column-gap: 16px;
    padding: 12px 0 !important;

    li {
      width: calc(50% - 16px);
      margin-right: 0 !important;
    }
  }
}
.b_dark #b_pole .b_wpTabsWrapper,
.b_dark #b_topw .b_wpTabsWrapper,
.b_dark a.ent-dtab-txta,
.b_dark a.ent-dtab-thmba,
.b_dark .ent-dtab-content .ent-dtab-ovr a {
  background-color: transparent !important;
}
#b_results > li {
  border-radius: 8px;
}
#b_context,
.dict_gowide,
.b_ans.b_dictans {
  border-radius: 8px;
}
.dc_leftDef.dc_src.dc_hasRight {
  text-align: justify;
  border-radius: 8px;
}

.b_vList.b_divsec {
  display: flex !important;
  flex-wrap: wrap !important;
}
.b_dark .b_rc_gb_template_bg_1,
.b_dark .b_rc_gb_template_bg_2,
.b_dark .b_rc_gb_template_bg_3,
.b_dark .b_rc_gb_template_bg_4,
.b_dark .b_rc_gb_template_bg_5,
.b_dark .b_rc_gb_template_bg_6,
.b_dark .b_rc_gb_template_bg_7,
.b_dark .b_rc_gb_template_bg_8,
.b_dark .b_rc_gb_template_bg_9,
.b_dark .b_rc_gb_template_bg_10,
.b_dark .b_rc_gb_template_bg_11,
.b_dark .b_rc_gb_template_bg_12,
.b_dark .b_rc_gb_template_bg_13,
.b_dark .b_rc_gb_template_bg_14,
.b_dark .b_rc_gb_template_bg_15,
.b_dark .b_rc_gb_template_bg_16,
.b_dark .b_rc_gb_template_bg_17,
.b_dark .b_rc_gb_template_bg_18,
.b_dark #b_results .b_algoBigWiki .b_rc_gb_template_bg_white {
  background: var(--transparent-background);
}
.b_dark .rd_gen.rd_card_ml,
.b_drk .rd_gen.rd_card_ml {
  background: linear-gradient(180deg, rgba(41, 40, 39, 0) 0%, rgba(79, 72, 72, 0.5) 100%) !important;
}
#b_context .b_rrsr > .b_vList > li a {
  background: var(--transparent-background-dark);
  width: 216px;
}
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_1,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_2,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_3,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_4,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_5,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_6,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_7,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_8,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_9,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_10,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_11,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_12,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_13,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_14,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_15,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_16,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_17,
.b_dark #b_results .b_rc_gb_template.b_rc_gb_template_bg_18 {
  background: var(--transparent-background);
}
#df_listaa > #b_vPanel,
#d_ans > .b_vPanel,
#df_listaa > .b_vPanel,
.b_dark .te_wrap {
  background-color: transparent !important;
  background: none !important;
}
/* END: Styles from u/RitwikSHS10 */
