@import url("../global/base.css");

.sticky_header {
  background-image: none !important;
  border: 0 !important;

  .search-form {
    &::after {
      background: var(--transparent-background-dark) !important;
      border: 0 !important;
    }
  }
}

.header_category_search_wrapper select option,
.headerbackground,
.header_background {
  background: none !important;

  .zolo-header_section2_background {
    background: var(--transparent-background-darker) !important;
    backdrop-filter: var(--backdrop-blur);
  }
}

.search-form {
  input[type="search"] {
    background: var(--transparent-background-dark) !important;
    color: var(--color-text) !important;
    border: 0 !important;
  }

  input[type="submit"] {
    border: 0 !important;
  }

  .custom-select {
    .select-selected {
      background: var(--transparent-background-dark) !important;
      border: 0 !important;

      &::after {
        border-top-color: var(--color-text) !important;
      }

      &.select-arrow-active {
        &::after {
          border-top-color: transparent !important;
          border-bottom-color: var(--color-text) !important;
        }
      }
    }

    .select-items {
      background: var(--transparent-background-darker) !important;
      backdrop-filter: var(--backdrop-blur);

      > div {
        color: var(--color-text) !important;

        &:hover {
          background: var(--color-primary) !important;
          color: var(--color-black) !important;
        }
      }
    }
  }
}

.sidebar-nav {
  background: var(--transparent-background) !important;
  border: 0 !important;

  > li {
    border: 0 !important;
  }
}

#primary {
  .newsbox,
  .wlcmbox {
    background: var(--transparent-background) !important;
    border: 0 !important;
  }
}

.widget {
  &.login {
    background: var(--transparent-background) !important;
    border: 0 !important;
  }

  &.recently,
  &.popular-posts {
    background: var(--transparent-background);
    border-radius: var(--border-radius);

    .widget-title {
      margin: 10px;
    }

    ul li {
      border: 0 !important;
    }
  }
}

.sub-menu {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
  border: 0 !important;
  transition: none !important;

  .menu-item {
    border: 0 !important;

    > a {
      border: 0 !important;

      .menu-text {
        color: var(--color-text) !important;
      }
    }
  }
}

.format {
  background: var(--color-bg) !important;
}

.post-update {
  span {
    background-color: var(--color-secondary) !important;
  }

  + .cat-name a {
    visibility: hidden;
  }
}

.cat-name,
div:has(> .mini-pics) {
  background: var(--transparent-background-dark) !important;
}

.inner-content {
  #tile-overlay {
    background: var(--transparent-background-darker) !important;
    backdrop-filter: var(--backdrop-blur);

    .tile-loading {
      margin: 400px auto 0 !important;
    }
  }

  .title-area {
    h4 a {
      color: var(--color-text) !important;
    }

    &:hover {
      h4 a {
        background: var(--transparent-background-darker) !important;
      }
    }
  }

  .tooltip {
    background: var(--transparent-background-darker) !important;
    border-radius: var(--border-radius);
  }
}

ul.page-numbers {
  .page-numbers {
    color: var(--color-text) !important;
    border-radius: var(--border-radius);

    &.current {
      background: var(--color-primary) !important;
    }

    &.dots {
      color: var(--color-text) !important;
    }
  }
}

ul.wpp-list {
  li {
    .wpp-item-data {
      .taxonomies {
        backdrop-filter: none;
        transition: background-color 0.25s, backdrop-filter 0.25s;
      }

      .wpp-title-excerpt {
        background-color: var(--transparent-background-dark) !important;
        backdrop-filter: var(--backdrop-blur);
      }
    }

    &:hover {
      .wpp-item-data {
        .taxonomies {
          background-color: var(--transparent-background-dark) !important;
          backdrop-filter: var(--backdrop-blur);
        }
      }
    }
  }
}

.main-footer {
  .footer {
    border: 0 !important;
  }

  .copyright_wrap {
    background: var(--transparent-background) !important;
  }
}

/* Detail Page */
body.single {
  .post {
    .entry-title {
      background: var(--transparent-background-dark) !important;
      border-top-left-radius: var(--border-radius-lg) !important;
      border-top-right-radius: var(--border-radius-lg) !important;
      border: 0 !important;
    }

    .entry-content {
      background-color: var(--transparent-background) !important;
      border-bottom-left-radius: var(--border-radius-lg) !important;
      border-bottom-right-radius: var(--border-radius-lg) !important;
      border: 0 !important;

      .post-info {
        background: var(--transparent-background-dark) !important;
        border: 0 !important;
      }

      #tabs-container {
        .tabs-menu {
          display: flex;
          border: 0 !important;

          > li {
            background-color: var(--transparent-background) !important;
            margin: 0;
            flex: 1;

            &.current {
              a {
                background: var(--color-primary) !important;
                color: var(--color-black) !important;
              }
            }

            a {
              border-radius: 0 !important;
              border: 0 !important;

              &:hover {
                background: var(--color-primary) !important;
                color: var(--color-black) !important;
              }
            }
          }
        }

        .tab-content {
          hr {
            display: none !important;
          }
        }
      }
    }
  }

  .rel-posts {
    h3 {
      background-color: var(--transparent-background-dark) !important;
      border: 0 !important;

      + div {
        background: var(--transparent-background) !important;
        border: 0 !important;
      }
    }
  }

  #comments {
    #respond {
      #reply-title {
        background-color: var(--transparent-background-dark) !important;
        border: 0 !important;
      }

      #commentform {
        background: var(--transparent-background) !important;
        border: 0 !important;

        textarea,
        input[type="text"],
        input[type="email"],
        input[type="url"] {
          background: var(--color-bg) !important;
          color: var(--color-text) !important;
          border-radius: var(--border-radius) !important;
          border: 0 !important;
        }
      }
    }
  }
}
