@import url("../global/base.css");

.isBrowser {
  background: none !important;

  div:has(> egs-navigation) {
    background: var(--transparent-background-darker) !important;
  }

  main {
    > div:first-child {
      background: var(--transparent-background-darker) !important;
      backdrop-filter: var(--backdrop-blur);

      > div:first-child {
        background: none !important;
      }
    }

    > div {
      background: none !important;
    }

    [data-testid="egs-ssr-wrapper-all"] {
      > div {
        background: none !important;
      }
    }

    [data-testid="sticky-nav"] {
      background: none;

      > ul {
        background: var(--transparent-background) !important;
        backdrop-filter: var(--backdrop-blur);
        padding: 5px 10px 10px;
      }
    }

    [data-testid="opt-in-toggle-layout"] {
      > div[class*="ROOT"] {
        background: var(--transparent-background) !important;
      }
    }

    [data-testid="offer-card-layout-wrapper"] {
      > div {
        background: var(--transparent-background) !important;
      }
    }

    [data-testid="cart-view"] {
      > div {
        background: none !important;
      }

      [data-testid="offer-card-layout-wrapper"] {
        > div {
          background: var(--transparent-background) !important;
        }
      }
    }
  }
}

[data-testid="SaleCarouselDesktop"] {
  div:has(+ [data-testid^="CarouselProgress"]) {
    background: var(--transparent-background) !important;
  }

  [data-testid^="CarouselThumbnail"] {
    &:hover {
      background: var(--transparent-background-darker) !important;
    }
  }

  [data-testid^="CarouselProgress"] {
    background: var(--color-bg) !important;
  }
}

/* Content Page */
#global-header {
  .bg-filter {
    background: var(--transparent-background-darker) !important;
  }
}

.eg-content {
  background: none !important;

  .HomePage,
  .PageHeader,
  .MyRequests {
    background: none !important;
  }
}

footer#egf {
  background: var(--transparent-background) !important;
}

/* Checkout Modal */
#purchaseAppContainer {
  background-color: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--border-radius);
}
