@import url("../global/base.css");

.product-tile {
  background: var(--transparent-background) !important;
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--border-radius);
}

product-tile-extended {
  background: var(--color-bg) !important;
  border-radius: var(--border-radius);
}

price-discount {
  color: var(--color-primary) !important;
}
