@import url("../global/base.css");

/* Google is obfuscating their classes and attributes, which makes it really hard to select elements properly, hence the nested div selectors */

body {
  /* Page Wrapper */
  > div:first-of-type,
  > div[data-hveid="1"] {
    /* Page Header */
    div[role="navigation"] {
      background: var(--transparent-background) !important;
      backdrop-filter: var(--backdrop-blur);

      div[style*="background-color"] {
        background: none !important;
      }
    }

    /* Page Footer */
    > div:last-child {
      > div[role="contentinfo"] {
        background: var(--transparent-background) !important;
      }
    }
  }
}

form[role="search"] {
  > div:first-child {
    > div:first-child {
      /* Search Bar */
      > div:first-of-type:not(.logo),
      > .logo + div {
        background: var(--transparent-background-dark) !important;
      }
    }
  }

  center {
    input[type="submit"] {
      background: var(--transparent-background-dark) !important;

      &:hover {
        background: var(--transparent-background-darker) !important;
        border-color: transparent !important;
      }
    }
  }
}

/* Search Results Page */
#searchform {
  > div:first-child {
    background-color: var(--transparent-background) !important;
    backdrop-filter: var(--backdrop-blur);
  }
}

#main {
  div[style*="top:"]:has(> [role="navigation"]) {
    background: var(--transparent-background-dark) !important;
    backdrop-filter: var(--backdrop-blur);
    box-shadow: none !important;
    border: 0 !important;
  }
}

#appbar {
  background: none !important;
}

#search {
  [data-rspos] > div:first-child,
  [jscontroller][lang][style*="width:inherit"] {
    background: var(--transparent-background);
    border-radius: var(--border-radius-lg);
    padding: 10px;
  }

  div:has(> [data-id="mosaic"]) {
    background: none !important;
  }
}

#botstuff {
  div:has(> div > div > a) {
    background: var(--transparent-background) !important;
  }
}

#fbar {
  background: var(--transparent-background) !important;
}
