@import url("../global/base.css");

#app {
  > a:first-of-type {
    background: var(--transparent-background-dark) !important;
    backdrop-filter: var(--backdrop-blur);
    position: static !important;
  }

  .c-header {
    background: var(--transparent-background-dark) !important;
    backdrop-filter: var(--backdrop-blur);
    position: sticky !important;
    top: 0 !important;

    button[data-cy="minicart-icon"],
      button[data-cy="headerSignInButton"],
      div[data-cy="headerBurgerButton"],
      form[itemtype="https://schema.org/SearchAction"],
      .desktop-submenu {
      + div {
        background: var(--transparent-background-darker) !important;
        backdrop-filter: var(--backdrop-blur);
        border-radius: var(--border-radius);
      }
    }
  }

  .c-page__wrapper {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.c-product-card > div:first-of-type,
[itemtype="http://schema.org/Product"]
{
  background: var(--transparent-background) !important;
}
