@import url("../global/base.css");

.bg-light {
  background-color: var(--transparent-background) !important;
}

.bg-white,
.bg-gray,
.bg-dark {
  background-color: var(--transparent-background-dark) !important;

  &.fake-bg-overlay {
    &::before,
    &::after {
      background-color: var(--transparent-background-dark) !important;
    }
  }
}

.alert-info-light,
.bg-info-light {
  background-color: var(--transparent-background-darker) !important;
}

.text-middle {
  color: var(--color-text-alt) !important;
}

.text-dark {
  color: var(--color-text) !important;

  &:is(a) {
    &:hover {
      color: var(--color-primary) !important;
    }
  }
}

.border {
  border: none !important;
}

.rounded-corners {
  display: none !important;
}

.alert {
  border: 0;
}

.slider {
  &::before {
    background-color: var(--color-primary) !important;
  }
}

.fill-dark,
.flag-icon,
.notification-badge svg {
  fill: var(--color-text) !important;
}

.notification-badge {
  .notification-badge__counter {
    background: var(--color-tertiary) !important;
    color: var(--color-black) !important;
  }

  &:hover {
    &::after {
      background-color: var(--color-primary) !important;
    }
  }
}

.category-list__link span {
  color: var(--color-text) !important;
}

.tooltip {
  background: none !important;
  backdrop-filter: none !important;
}

.tooltip__dropdown {
  background-color: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--border-radius);

  a {
    color: var(--color-text) !important;

    &:hover {
      color: var(--color-primary) !important;
    }
  }

  .page-header-nav-tooltip__link {
    &:hover {
      background-color: var(--color-bg) !important;
    }
  }

  .page-header-nav-tooltip__link-image-block {
    &:hover {
      background-color: var(--color-bg) !important;

      .page-header-nav-tooltip__link-image {
        color: var(--color-primary) !important;
      }
    }

    .page-header-nav-tooltip__link-image {
      color: var(--color-text) !important;
    }
  }
}

.tooltip__single {
  + .tooltip__dropdown {
    background: none !important;
    backdrop-filter: none !important;

    .tooltip__arrow {
      &::before {
        border-bottom-color: var(--transparent-background-darker) !important;
      }
    }

    .tooltip__dropdown-inner {
      background-color: var(--transparent-background-darker) !important;
      backdrop-filter: var(--backdrop-blur);
      color: var(--color-text);

      .btn {
        .text-dark {
          color: var(--color-text) !important;
        }
      }
    }
  }
}

label {
  color: var(--color-text-alt) !important;
}

input {
  border: 1px solid var(--color-bg-alt) !important;
  color: var(--color-text) !important;

  &:read-only,
  &:disabled {
    background: none !important;
  }
}

.input-text {
  label::after {
    content: none !important;
  }
}

.btn {
  &.btn-circle-icon {
    border-image: none !important;
    border: none !important;
  }

  &.btn-white {
    background: var(--color-bg) !important;
    border-color: var(--color-bg) !important;

    &:hover {
      background: var(--transparent-background) !important;
      border-color: var(--color-primary) !important;
    }

    .btn-icon__wrap svg {
      filter: invert(1);
    }
  }
}

.category-list {
  .category-list__link {
    &.active,
    &:hover {
      background: linear-gradient(to right, var(--color-primary) 10%, transparent);
    }
  }
}

#sidebar {
  background-color: var(--transparent-background-dark) !important;
  backdrop-filter: var(--backdrop-blur);

  .sidebar__nav-list-footer {
    background: var(--transparent-background) !important;
    backdrop-filter: var(--backdrop-blur);
    padding-top: 0;
    margin-top: 1.25rem;
  }
}

.page-main {
  color: var(--color-text);

  #header {
    background-color: var(--transparent-background-darker) !important;
    backdrop-filter: var(--backdrop-blur);
    border: 0;
    color: var(--color-text);

    .page-header__title {
      color: var(--color-text);
    }

    .tooltip {
      background: none !important;
      backdrop-filter: none !important;
    }

    .tooltip__dropdown-inner {
      color: var(--color-text);

      .notification {
        border: 0;

        &:hover {
          background: var(--color-bg);
        }
      }
    }
  }
}
