@-moz-document domain("leetcode.com") {
    /* Insert code here... */
    :is(.dark .dark\:bg-dark-layer-bg), body, #explore-app .background-rvs, :is(.dark .dark\:bg-layer-bg-gray){
        background: none !important;
        color: white
    }
    .flexlayout__tabset, :is(.dark .dark\:bg-layer-01) {
        background: rgba(0,0,0,0.2);
    }
    
}
