@import url("../global/base.css");

:root {
  --sds-heading-color: var(--color-primary) !important;
  --xds-color-content-default: var(--color-text) !important;
  --xds-color-content-subdued: var(--color-secondary) !important;
  --sds-stepper-label-color-active: var(--color-primary) !important;
  --sds-text-link-color-primary: var(--color-primary) !important;
}

*,
*::before,
*::after {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: var(--color-text);
}

html,
body {
  color: var(--color-text) !important;
}

header {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
}

[class^="status-box-style_status-content"] {
  background: var(--transparent-background) !important;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary) !important;
  border-radius: var(--border-radius);
  color: var(--color-primary) !important;
  font-weight: 500;

  * {
    color: var(--color-primary) !important;
  }
}

.ReactModal__Content {
  background: var(--color-bg) !important;
  overflow: hidden;
  border-radius: var(--border-radius) !important;
}

[class^="plus-delivery-options-style_plus-delivery-options"] {
  input[type="radio"] {
    + label {
      background: var(--transparent-background) !important;
      border-radius: var(--border-radius) !important;
    }

    &:checked {
      + label {
        outline: 2px solid var(--color-primary) !important;
      }
    }
  }
}
