@import url("../global/base.css");

.spotlight,
.overlay,
.tooltip,
.dropdown {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur) !important;
  color: var(--color-text) !important;
}

.toolbar {
  background: none !important;
}

.navigation-list {
  .navigation-item {
    .navigation-link {
      svg.navigation-icon {
        color: inherit;
      }
    }
  }
}

.items-column-list {
  background: none !important;
}

.item-container,
.dropdown-item:has(> button) {
  position: relative;

  &.unread {
    background: var(--transparent-background) !important;

    &::before {
      content: "";
      display: block;
      background: var(--color-secondary) !important;
      width: 4px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &.read {
    background: none !important;
  }

  &.item-is-selected {
    background: var(--transparent-background-darker) !important;
  }

  &:hover {
    box-shadow: none;
    background: var(--transparent-background-dark) !important;

    &::before {
      content: "";
      display: block;
      background: var(--color-primary) !important;
      width: 4px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.label-stack {
  .label-stack-item {
    background-color: var(--label-bg, var(--color-bg)) !important;

    &:hover {
      background-color: var(--label-bg-hover, var(--color-bg)) !important;
    }
  }
}

.message-container {
  background: none !important;

  .message-header,
  .message-content {
    background: var(--transparent-background) !important;
  }
}

.composer {
  .composer-title-bar {
    background: var(--transparent-background-darker) !important;
    backdrop-filter: var(--backdrop-blur) !important;
  }

  .composer-container {
    background: var(--color-bg) !important;

    .editor-wrapper {
      border: 1px solid rgb(from var(--color-text) r g b / 0.25) !important;
    }
  }
}
