@import url("../global/base.css");

header#head {
  background: var(--transparent-background-darker);
  backdrop-filter: var(--backdrop-blur);

  .nav-tab-wrapper {
    background: var(--transparent-background-darker);
    backdrop-filter: var(--backdrop-blur);
  }
}

.home-intro,
.static .wrap:first-of-type,
.collections-banner-wrapper,
.premium-block {
  background-image: none !important;
}

.static .wrap {
  background: var(--transparent-background) !important;
  border-radius: var(--border-radius);
}

.collections-banner-wrapper {
  background: none !important;
}

.notifications-content-wrapper,
.rj-right-tray,
.rj-search-category-dropdown,
#gsearch_results {
  background-color: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
}

#gsearch_results {
  h2 {
    background: transparent !important;
  }
}

.mod-tile-left {
  background: var(--transparent-background) !important;
  border-radius: var(--border-radius);
  overflow: hidden;

  .mod-tile-dl-status {
    background-color: rgb(from var(--color-primary) r g b / 0.35) !important;
    backdrop-filter: var(--backdrop-blur);
  }

  .post-category {
    background-color: var(--color-bg) !important;
  }

  .btnexpand ul {
    background: var(--color-bg) !important;
  }

  .fadeoff {
    display: none;
  }
}

.game-tiles {
  .mod-tile-left {
    .tile-desc {
      padding: 10px !important;
    }
  }
}

.select2 {
  background: var(--transparent-background) !important;
  border-radius: var(--border-radius);

  .select2-selection__rendered {
    color: var(--color-text) !important;
  }

  .select2-selection__arrow b {
    border-color: var(--color-text) transparent transparent transparent !important;
    border-style: solid !important;
    border-width: 5px 4px 0 4px !important;
  }
}

.select2-results {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--border-radius);
  overflow: hidden;

  #select2-time-results {
    max-height: 75vh;

    li {
      padding: 12px;

      &:hover {
        background: var(--color-primary) !important;
      }
    }
  }
}

.pagination {
  .page-selected {
    background-color: var(--color-primary) !important;
    border-radius: var(--border-radius);
    color: var(--color-text) !important;
  }
}

.tooltipster-base {
  background-color: var(--color-bg) !important;
}

/* Adaptions for the next.nexusmods.com beta */
header.bg-surface-base {
  background: var(--transparent-background-darker) !important;

  > .bg-surface-base {
    background: none !important;
  }

  .bg-surface-low {
    background-color: var(--transparent-background-darker);
    backdrop-filter: var(--backdrop-blur);
  }
}

#mainContent {
  > [class="relative"] {
    > .absolute,
    > .to-surface-base {
      display: none !important;
    }

    > .next-container-fluid {
      .sticky {
        background-color: transparent;
        backdrop-filter: none;
      }
    }
  }

  .clearfix {
    background: none !important;
  }
}
