@import url("../global/base.css");

.content,
.main,
.main header {
  background: none !important;
}

.bg-norm,
.dropdown,
.spotlight,
.overlay,
.tooltip,
.modal-two-dialog {
  background: var(--color-bg) !important;
  backdrop-filter: var(--backdrop-blur);
  color: var(--color-text) !important;
}

.bg-weak {
  background: var(--transparent-background) !important;
}

.color-weak {
  color: var(--color-text-alt) !important;
}

.color-invert {
  color: var(--color-text) !important;
}

.border {
  border: 1px solid rgb(from var(--color-white) r g b / 0.5) !important;

  &.rounded {
    border-radius: 8px !important;
  }

  &.border-recommended {
    border-width: 3px !important;
    border-color: var(--color-primary) !important;
  }

  .recommended-label {
    background: var(--color-primary) !important;
  }
}

.button {
  &.button-for-icon {
    background: none !important;
    border-image: none !important;
    border: none !important;

    &:hover {
      svg {
        fill: var(--color-primary);
      }
    }
  }
}

.sidebar {
  background: none !important;
}
