/* Styles by u/sameera_s_w */

:root.theme-dark,
.theme-rpl {
  --color-neutral-background: #00000000;
}

.bg-neutral-background,
#left-sidebar-container {
  background-color: #00000000;
  border: none;
}

div aside recent-posts {
  display: none;
}

.overflow-visible > div:nth-child(32),
faceplate-dropdown-menu {
  border-radius: 1em 1em 0 0;
}

nav.z-\[2\] > nav:nth-child(18),
div.visible {
  display: none;
}

hr.w-100.my-sm.border-neutral-border-weak {
  display: none;
}

shreddit-app,
body,
html {
  background-color: #00000000 !important;
}

/* Styles by FrostyBiscuit */
#flex-left-nav-container {
  background: none !important;
  border: 0 !important;
}

.left-sidebar {
  background-color: var(--transparent-background) !important;
  border: 0 !important;

  .text-secondary-weak {
    color: var(--color-text-alt) !important;
  }
}

#right-sidebar-container {
  border-radius: var(--border-radius);

  .bg-neutral-background-weak {
    background-color: var(--transparent-background) !important;
  }
}

header {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
}

shreddit-app {
  background: none !important;

  .grid-container {
    background: none !important;

    [bundlename="shreddit_sort_dropdown"] {
      background: var(--transparent-background) !important;
      border-radius: var(--border-radius-lg) !important;
    }

    community-highlight-carousel {
      background: var(--transparent-background) !important;
      border-radius: var(--border-radius-lg);
      padding-bottom: 8px;
    }
  }
}

shreddit-post {
  background: var(--transparent-background) !important;

  [slot="post-media-container"] {
    background: var(--transparent-background) !important;

    .text-neutral-content-weak {
      color: var(--color-text-alt) !important;
    }
  }
}

comment-body-header {
  background: var(--transparent-background) !important;
  border-radius: var(--border-radius-lg) !important;
  margin-bottom: 20px;
  overflow: hidden;

  .bg-neutral-background {
    background: none !important;
  }

  shreddit-comments-sort-dropdown {
    --color-neutral-background: transparent;
    padding: 10px;
    margin-top: 0 !important;
  }
}

shreddit-comment-tree {
  --shreddit-content-background: var(--transparent-background);
  --color-neutral-background: transparent;
  border-radius: var(--border-radius-lg);
}
