@import url("../global/base.css");

[style*="background-color:"] {
  backdrop-filter: var(--backdrop-filter);
  border: 1px solid rgb(from var(--color-text) r g b / 0.1) !important;

  &:hover {
    background-color: rgb(from var(--color-primary) r g b / 0.5) !important;
  }
}

.bg-destructive {
  background: hsl(var(--destructive)) !important;
}

.bg-success {
  background: hsl(var(--success)) !important;
}

.bg-warning {
  background: hsl(var(--warning)) !important;
}

.bg-card,
.bg-background {
  background: var(--transparent-background) !important;

  &[role="dialog"] {
    background: var(--color-bg) !important;
    border: 1px solid rgb(from var(--color-text) r g b / 0.1) !important;
  }
}

.bg-black\/80 {
  background: var(--transparent-background-dark) !important;
  backdrop-filter: var(--backdrop-blur);
}

.bg-popover {
  background: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
}

.bg-foreground {
  background: hsl(var(--foreground)) !important;
}

.bg-foreground\/50 {
  background: hsl(var(--foreground) / 0.5) !important;
}

.text-three-star-dark {
  color: hsl(var(--three-star)) !important;
}

.text-four-star-dark {
  color: hsl(var(--four-star)) !important;
}

.text-five-star-dark {
  color: hsl(var(--five-star)) !important;
}

.sidebar {
  background: var(--transparent-background-dark) !important;
}

button[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: 2px solid var(--color-primary) !important;
  border-radius: var(--border-radius);
  color: var(--color-primary) !important;
  font-weight: 500;

  * {
    color: var(--color-primary) !important;
  }
}
