input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
select {
  color: var(--color-text);
  border-radius: var(--border-radius);

  &[type="file"] {
    background: transparent;
  }

  &::placeholder {
    color: var(--transparent-text);
  }
}
